<!DOCTYPE html>
<html ng-app="acumuladorApp"><!--Hay que observar que aquí se inicia el ng-app-->
<head>
    <title>Ej de AngularJS</title>
    <script src="js/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/estilo.css">
    <script type="text/javascript" src="js/TweenMax.min.js"></script>
</head>
<body>
    
    <div ng-controller="acumuladorAppCtrl"><!--Super importante el controlador aquí-->
        
        
        <input type="text" ng-model="datos.texto1"> 
        <input type="text" ng-model="datos.texto2"> 
        <input type="submit" ng-model="operador" ng-click="cargar_datos_php()"> 
        <br>
        {{ result }}
        <!-- Esto es importante para que se escriban los resultados como un ciclo dependiendo de la info php MySQL -->
        <ol>
            <ul ng-repeat="x in campos">
                Resultado. {{x.Archivo}} 
            </ul>
        </ol>

    </div>

    <!-- Este es el div que gsap maneja -->
    <div id="container_result">
    </div>   
    
    <!-- Aquí se incluye el otro archivo js par probar que el código se puede colocar en otro archivo  
    <script src="js/ayudante.js"></script>-->
    
    <script>
        
        var acumuladorApp = angular.module( 'acumuladorApp', [] );
        
        acumuladorApp.controller( "acumuladorAppCtrl",
            
            //[ "$scope",  //Originalmente solo se minificaba el scope.
            [ "$scope", "$http", //Esto es para minificar, pero interfiere con lo de php, hay que minificar las otras variables.
             
                function( $scope, $http )
                {
                    /**
                     * Esta función se activa al usar el texto 2.
                     */
                    $scope.cargar_datos_php = function()
                    {
                        
                            var cad = $scope.datos.texto1;
                            var cad1 = $scope.datos.texto2;
                            //console.log(cad +"-"+ cad1 +"-"+ ope);
                        if( cad == undefined || cad1 == undefined )
                        {
                            $scope.result = "Complete los campos";
                            TweenMax.to(a, 3, {left:"-250px"});
                        }else{
                            $scope.result = "";
                            //Aquí se hace el llamado a un php con conexión a MySQL.
                            $http.get( 'llamado-php.php?cadena=' + cad + '&cadena1=' + cad1 ).success
                            (
                                function( response ) 
                                { 
                                    //console.log( response );
                                    $scope.campos = response.records;            
                                    var a = document.getElementById('container_result') ;
                                    TweenMax.to(a, 3, {left:"550px"});
                                    console.log($scope.campos[0].Result);
                                    a.innerHTML = $scope.campos[0].Result;
                                }
                            );  
                        }                    
                    }
                }
            ] //Si se minifica, se deben minificar todas las llamadas inyecciones, de lo contrario mejor no minifique nada.
        );
        
    </script>

</body>
</html>


